<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width= device-width,initial-scale=1.0">
        <title> 404 error</title>
        <link rel="stylesheet" href="pagenotfound.component.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    </head>
    <body>
        <section class="pnf">

        <h1>OOPS!!! PAGE NOT FOUND</h1>
        <h2>Take a NAP :)</h2>
        <h2>Try again after sometime... </h2>
    </section>
    </body>
</html>
